# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!
# credits to the primeagen

general {
    colors = true
    interval = 5
}

order += "disk /"
order += "battery all"
{% if ansible_facts['os_family'] == 'Debian' %}
order += "wireless wlp2s0"
{% elif ansible_facts['os_family'] == 'Archlinux' %}
order += "wireless wlan0"
{% endif %}
order += "ethernet enx9cebe8455856"
order += "load"
order += "tztime local"

disk "/" {
    format = "%free"
}

battery all {
    format = "%status %percentage %remaining"
}

{% if ansible_facts['os_family'] == 'Debian' %}
wireless wlp2s0 {
{% elif ansible_facts['os_family'] == 'Archlinux' %}
wireless wlan0 {
{% endif %}
    format_up = "W: %ip -%quality"
}

ethernet enx9cebe8455856 {
    format_up = "E: %ip"
}

load {
    format = "%1min"
}

tztime local {
    format = "%Y-%m-%d %H:%M:%S"
}

